div div div,
#content-box {
  background-color: lightgreen;
}
div div div.horizontal-lists {
  color: blue;
}
div .chapter-name {
  font-weight: bolder;
}
div#current-chapter .chapter-name {
  color: red;
}
